[user]
	email = mangassk8@gmail.com
	name = deividmng
[core]
	autocrlf = false
	eol = lf
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
