.testimonial{
    background-color: $verde;
    color: $blanco;
    font-size: 4rem;
    color: $blanco;
    border-radius: 2rem;
    blockquote{
        padding-left: 5rem;
        position: relative;

        &::after{
            content: '';
            background-image: url(/src/img/cnt.jpg);  
            background-repeat: no-repeat;
<<<<<<< HEAD
            background-size: cover;
=======
>>>>>>> a5034f569133f80e9877e5b59c154e7ba3cf7f86
            width: 6rem;
            height: 8rem;
            display: block;
             position: absolute;
             left: -2rem;
             top: 1rem;
<<<<<<< HEAD
             
=======
>>>>>>> a5034f569133f80e9877e5b59c154e7ba3cf7f86
        }
    }

    p{
        text-align:  right;
        color: $blanco ;
    }
}