@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/** Media Queries **/
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.8;
}

p {
  color: #000000;
  font-size: 2rem;
}

.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img,
picture {
  width: 100%;
  display: block;
}

h1, h2, h3 {
  font-family: "Lato", sans-serif;
  margin: 2.5rem 0;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
}

.seccion {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.contenido-centrado {
  max-width: 800px;
}

.alinear-derecha {
  display: flex;
  justify-content: flex-end;
}

.boton-amarillo {
  background-color: #E08709;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 3rem;
  text-align: center;
  margin-top: 2rem;
  display: inline-block;
}
.boton-amarillo:hover {
  background-color: #c77808;
}

.boton-amarillo-block {
  background-color: #E08709;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 3rem;
  text-align: center;
  margin-top: 2rem;
  display: block;
}
.boton-amarillo-block:hover {
  background-color: #c77808;
}

.boton-verde {
  background-color: #71B100;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 3rem;
  text-align: center;
  margin-top: 2rem;
  display: inline-block;
}
.boton-verde:hover {
  background-color: #619800;
}

.no-webp .inicio {
  background-image: url(/build/img/pexels-shvets-production-7946821.jpg);
}

.webp .inicio {
  background-image: url(/build/img/pexels-shvets-production-7946821.webp);
}

.header {
  background-color: #333333;
  padding: 1rem 0 3rem 0;
}
.header.inicio {
  background-position: center center;
  background-size: cover;
}
@media (min-width: 768px) {
  .header.inicio {
    min-height: 45rem;
  }
}
@media (min-width: 768px) {
  .header.inicio .contenido-header {
    min-height: 45rem;
  }
}

.contenido-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contenido-header h1 {
  color: #FFFFFF;
  text-align: left;
  font-weight: 700;
  line-height: 2;
}

.barra {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .barra {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .navegacion {
    display: flex;
    align-items: center;
    margin-top: -2rem;
  }
}
.navegacion a {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  text-align: center;
}
@media (min-width: 768px) {
  .navegacion a {
    margin-right: 2rem;
  }
  .navegacion a:last-of-type {
    margin-right: 0;
  }
}

.icono {
  max-width: 10rem;
  z-index: 1;
}

.iconos-nosotros {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.icono {
  text-align: center;
}
.icono :first-of-type {
  margin-left: 1rem;
}
.icono img {
  height: 20rem;
  width: 20rem;
  border: 4px #e1e1e1 solid;
}
.icono h3 {
  text-transform: uppercase;
}
.icono p {
  padding-left: 2rem;
}

.footer {
  background-color: #333333;
  margin-bottom: 0;
}
.footer .contendido-foooter {
  padding-top: 2rem;
}
.footer .copyright {
  color: #FFFFFF;
  text-align: center;
}

.img-icon {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  height: 120px;
  width: 140px;
}

.anuncio {
  background-color: #eeeeee;
  border: 1px solid #c8c8c8;
}
.anuncio .contenido-anuncio {
  padding: 2rem;
}
.anuncio .contenido-anuncio h3 {
  text-align: center;
}
.anuncio h3, .anuncio p {
  margin: 0;
  display: flex;
}
.anuncio .precio {
  margin-left: 10rem;
  color: #71B100;
  font-weight: 700;
  font-size: 3rem;
}

.contenedor-anuncio {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.iconos-caracteristicas {
  display: flex;
  list-style: none;
  padding: 0;
}
.iconos-caracteristicas li {
  flex: 1;
  display: flex;
}
.iconos-caracteristicas li img {
  flex: 0 0 3rem;
  margin-right: 1rem;
  margin-right: -1rem;
}
.iconos-caracteristicas li p {
  font-weight: 900;
  margin-top: 2rem;
  margin-right: -1rem;
}

.imagen-contacto {
  background-image: url(/build/img/cnt.jpg);
  background-position: center center;
  background-size: cover;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imagen-contacto h2 {
  font-size: 4rem;
  font-weight: 900;
  color: #FFFFFF;
}
.imagen-contacto p {
  font-size: 1.8rem;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .seccion-inferior {
    display: grid;
    grid-template-columns: 2fr 1fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
.entrada-blog {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .entrada-blog {
    display: grid;
    grid-template-columns: 1fr 2fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
.entrada-blog:last-of-type {
  margin-bottom: 0;
}

.texto-entrada a {
  color: #000000;
  margin-top: 2rem;
  display: block;
}
@media (min-width: 768px) {
  .texto-entrada a {
    margin: 0;
  }
}
.texto-entrada h4 {
  margin: 0;
  line-height: 1.4;
}
.texto-entrada h4:after {
  content: "";
  display: block;
  width: 15rem;
  height: 0.5rem;
  background-color: #71B100;
  margin-top: 2rem;
}
.texto-entrada span {
  color: #E08709;
}

.testimonial {
  background-color: #71B100;
  color: #FFFFFF;
  font-size: 4rem;
  color: #FFFFFF;
  border-radius: 2rem;
}
.testimonial blockquote {
  padding-left: 5rem;
  position: relative;
}
.testimonial blockquote::after {
  content: "";
  background-image: url(/src/img/cnt.jpg);
  background-repeat: no-repeat;
  width: 6rem;
  height: 8rem;
  display: block;
  position: absolute;
  left: -2rem;
  top: 1rem;
}
.testimonial p {
  text-align: right;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .contenido-nosotros {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.center {
  text-align: center;
}

.texto-nosotros blockquote {
  font-weight: 900;
  font-size: 2.2rem;
  margin: 0;
  padding-left: 1rem 0 3rem o;
}/*# sourceMappingURL=app.css.map */