 .footer {
    background-color: $grisOscuro;
    margin-bottom: 0;
    .contendido-foooter{
        padding-top: 2rem;
    }

    .copyright{
        color: $blanco;
        text-align: center;
    }
 }