.barra {
    display: flex;
    flex-direction: column;
     @include  tablet {
        flex-direction:row;
        justify-content: space-between;
     }
 
}


.navegacion {

        @include tablet {
            display: flex;
            align-items: center;
            margin-top: -2rem;
        }

    a {
        color: $blanco;
        text-decoration: none;
        display: block;
        text-align: center;

        @include tablet {
            margin-right: 2rem;

        &:last-of-type {
            margin-right: 0;
        }
        }
     }
}

.icono-logo{
    max-width: 10rem;
    z-index: 1;
    border-radius: 3rem;
    border: 2px color  darken($grisOscuro,5) solid;
    
}
.icono{
    max-width: 10rem;
    z-index: 1;    
}